*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.comic-background{
    background-image: url(../assets/imagenes/fondo1piramide.webp);
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
height: 60rem;
}
.imagencita{
flex-direction: column;
display:  flex;
justify-content: center;
align-items: center;
height: 50rem;
cursor: pointer;
width: 100%;
}

.instrucciones{
    width:20vh;
    position: absolute;
    cursor: pointer;
    top: 5%;
    left: 3%;
}

.instrucciones:hover{
    transform: scale(1.5);
}

.alkot{
position: absolute;
right: 70%;
width: 20%;
height: 40%;
top: 30%;

}

.orkot{
    position: absolute;
    bottom: 2%;
    left: 85%;
    transform: translateX(-50%);
width: 30%;
height: 100%;


}

.botoncito{
    height: 30vh;
    position: absolute;
    top: 65%;
    left: 45%;
    z-index: 5;
    width: 160px;
    cursor: pointer;
}

.botoncito img{
    width:15vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.botoncito:hover{
    transform: scale(1.5);;
}
.imagen-contenedor img{
   position: absolute;
   width: 10%;
   top: 3%;
   left: 3%;
   cursor: pointer;
}

.imagen-contenedor img:hover{
    transform: scale(1.5);
}
.imagen-actual img{
    width: 20%;
    margin-left: 5%;
}
 .inicio-boton{
        width:5%;
        height: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 0%;
        margin: 0%;
}


/* boostrap */

.modal{
    --bs-modal-zindex: 1055;
    --bs-modal-width: 70%;
}

.modal-body img{
    width:100%;
    position: absolute;
 top: 3%;
 right: 3%;
 cursor: pointer;
}

.casa-contenedor img{
    width:8vh;
    position: absolute;
    cursor: pointer;
    top: 5%;
    left: 90%;

}

.casa-contenedor img:hover{
    transform: scale(1.5);
}



